/languages/PlantUML/classes_gen/
/languages/PlantUML/source_gen/
/languages/PlantUML/source_gen.caches/
/languages/PlantUML/generator/classes_gen/
/languages/PlantUML/generator/source_gen/
/languages/PlantUML/generator/source_gen.caches/
/languages/PlantUML/sandbox/classes_gen/
/languages/PlantUML/sandbox/source_gen/
/languages/PlantUML/sandbox/source_gen.caches/
